.education{
    width:100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.education h2{
    font-size: 3rem;
}

.container{
    width:100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.items{
    width:55%;
    border-radius:2px;
    margin-bottom:0.7rem;
}

.items-content{
    padding: 0 0.7rem;
    border:2px solid rgb(75, 74, 74);
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-content h3{
    margin-right:2rem;
    flex-basis:60%;
}

.content{
    margin:0.7rem 0rem;
    border-radius: 0.7rem;
    border:2px solid #ccc;
    background-color: #c7c7c7;
    padding: 0.7rem; 
    transition: all 1s;
}

.content h4{
    margin:0.7rem 0;
}

.content div{
    font-size: 0.9rem;
    font-weight: 500;
}