.education{
    width:100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.education h2{
    font-size: 3rem;
}

.container{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.items{
    padding: 0 0.7rem;
    width:55%;
    border:2px solid rgb(75, 74, 74);
    border-radius: 0.7rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.7rem;
}

.items h3{
    margin-right:2rem;
    flex-basis:60%;
}